langchain
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain_openai
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
langchain_groq
duckduckgo-search
validators
unstructured
youtube-transcript-api
pytube